body {
    font-family: "futura", 'Open Sans', sans-serif; 
}

p {
    font-family: charter, georgia, times; 
    font-size: 19px;
    
}

h2 {
    color: #DD367C;
    text-align: center;
    padding-top: 1em;
}

h3 {
    font-size: 1.5em;
}

h4 {
   margin-bottom: 0% !important;
   text-align: left;
   font-size: 1.8em;
   padding-top:2em;
   }

h6 {
    padding-top: 1em;
    font-size: 1.5em;
    text-align: left;
    padding-bottom: 0.5em;
    }

.rubrik {
    background-color: #B4E2F0;
    padding: 2rem .3125rem;
    margin-bottom: 3em;
}

.content-in-media {
    padding-top:5em;
}

.coolTitle::after {
    content: "";
    display: block;
    height: 2.3rem;
    background: url(https://assets.hearstapps.com/sites/cosmopolitan/assets/images/svgs/underline-black.ca9ae59.svg) repeat center center;
    filter: invert(54%) sepia(74%) saturate(4066%) hue-rotate(145deg) brightness(93%) contrast(101%);
 
}

.article1-text {
    text-align: left;
}

.media-body {
    padding:0em 5em;
}

.texter {
    padding-top: 2em;
}

.tipsTitle {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 1.5em;
}

.number {
    left: 20em;
}



/*GlobalMenu.js (Global meny)*/
.nav-link  {
    color: black;
    }

a:hover {
    color: #ff4c49;
    }

.logo {
    height: 100%;
    width: 180px;
    padding: .5rem 1rem;
    margin-right: 5em;
    }

.nav {
    border-color: #ff4c49;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    }

.nav-link {
    padding-top: 0.9em;
    }


/*Header.js (Headerbild på toppen av sidan)*/

.headerImg {
    width: 100%;
    }

.presentationText {
    font-family: futura;
    text-align: center;
    color: #ef0e7c;
    padding-left: 20em;
    padding-right: 20em;
    padding-top: 2em;
    }   

.stripsImg {
    padding-right: 42%;
    padding-left: 42%;
    }

/*TimeAxis.js (Tidsaxeln)*/


.card-deck {
    animation-delay: 30ms !important;
    animation-iteration-count: 1 !important;
    animation-name: react-reveal-217424698708361-1;
}


.card {
    border-style: none;
    background-color: #fff5f2;
    margin-right: 3em !important;
    margin-left: 3em !important;  
    }

.card-deck {
    background-color: #fff5f2;
    margin-left: 2em !important;
    margin-right: 2em !important;
    padding-bottom: 2em;
    }

.card-title {
    text-align: center;
    color: #ff4c49;
    padding: 1em;
    font-size: 2.2em;
    margin-bottom: 0;
    padding: 1.5em 0em;
    padding-top:5em;
    }

.picyear {
    width: 40%;
    height: auto;    
}

.timeAxisP {
    color: #ff4c49;
    padding-bottom: 5em;
    padding-left:11em;
    padding-right: 11em;
    }

.card-title-img {
    text-align: center;
    color: #ff4c49;
    font-size: 2.5em;
    margin-bottom: 0;
    padding-bottom: 1em;
    padding-top: 0.2em;
    }

.descIceMelting {
    background-color: red;
    color: white;
    border:none;
    width: 2em;
    height: 2em;
    margin-top: 1em;
    margin-bottom: 2em; 
    border-radius: 50%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 0.5px 0 rgba(0,0,0,0.19);
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
    }

.descIceMelting:hover{
    background-color: #B4E2F0;   
    transform: rotate(45deg);
    transition-delay: 0.01s;
    }

.bigBox {
    background-color: #fff5f2;  
    }

.card-api {
    color: #ff4c49;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0px;
    }

.card-api-desc {
    color: #ff4c49;
    font-size: 0.9em;
    }

.cardBoxes {
    height: 100%;
    background-color: red;
    }

.ml-3 {
    width: 260px;
    padding-top: 0em;
    }

.pic3 {
    padding-right: 2em;
    width: 30%;
    padding-top: 1em;
    margin-right: 1em;
    }

.pic1 {
    padding-right: 1em;
    width: 260px;
    padding-top:0.5em;
    }

.pic2 {
    padding-top:5.5em;
    margin-right: 1em;
  
}

.align-self-start {
    width: 20%;
    margin-right: 10em !important;
    margin-left: 5em;
    }

.socialmediaShareBox {
    padding-right: 8em;
}

.headingSocialmedia {
    text-align: right;
    font-size: 0.8em;
    color: #9fb6c6;
    font-weight: bold;
}

.SocialmediaShare {
    width: 3%;
    float: right;
    margin-right: 1em;
}

.SocialmediaShare:hover {
    opacity: 25%;
    cursor: pointer;
}

/*Homepage.js (Artikeln som bygger webbplatsen)*/  

.card-group {
    background-color: #fff;
}

.tips-body {
    background-color: #fff;
}

.media {
    padding: 0;
     }
 
 .mediaBox {
     padding-top: 8em;
     padding-bottom: 11em;
     }
 
 .media-2 {
     background-color: black;
     }
 
 .h4-last {
     text-align: center;
     }
 
 .p-last {
     text-align: center;
     padding-left: 6em;
     padding-right: 6em;
     padding-top: 2em;
     }
 
 .media-body-last {
     padding-top:3em;
     }
 
 .tips-pics {
     padding-top: 3em;
     }
 
 .tips-group {
     padding-top:4em;
     }
 
 .tips-tricks-h5-1 {
     filter: invert(75%) sepia(60%) saturate(4066%) hue-rotate(145deg) brightness(93%) contrast(101%);
     text-align: left;
     }
 
 .tips-tricks-h5-2 {
     color: #df3480;
     text-align: left;
     }
 
 .tips-tricks-h5-3 {
     color: #f3d311;
     text-align: left;
     }
 
 .tips-1::after {
     filter: invert(75%) sepia(60%) saturate(4066%) hue-rotate(145deg) brightness(93%) contrast(101%);
    }
 
 .tips-2::after {
     filter: invert(79%) sepia(50%) saturate(7000%) hue-rotate(301deg) brightness(95%) contrast(92%);
     }
 
 .tips-3::after {
     filter: invert(100%) sepia(50%) saturate(7000%) hue-rotate(330deg) brightness(100%) contrast(92%);
     }
 
 .tips-pics-text {
     text-align: left;
     }
 
 .receipe-link {
     color:#212529;
     margin-right: 5.1em;
     }
 
 
/*Chart.js (Vattengrafen)*/    
.card-title-graph {
    text-align:center; 
    color: #ff4c49;
    padding: 1em;
    font-size: 2.2em;
    padding: 1.5em 0em;
    padding-top:5em;
    }

.chartP {
    color: #ff4c49;
    padding-left: 2em;
    padding-right: 2em;
    }

.slidingtxt {
    font-size: 15px;
    padding-bottom: 3em;
    padding-top: 1em;
}

.graph {
    background-color: #fff5f2;
    min-height: 60em;
    padding-left: 15em;
    padding-right: 15em;
    padding-bottom: 15em;
    }

.recharts-wrapper {
    padding-left: 0em;
    padding-bottom: 10em;
}

.descriptionCentimeter {
    text-align:left; 
    font-weight: bold;
    margin-left: 3em;
    opacity: 0.7;
    }

.descriptionYear {
    text-align:right;
    padding-right: 8em; 
    font-weight: bold;
    opacity: 0.7;
    }

.timeCardDesc {
    font-weight: bold;
    font-size: 0.8em; 
    opacity: 0.7; 
    line-height: 25px; 
}

.timeCardDesc p {
    font-size: 0.9em;
}

.slider-text {
   color: #96dbfa;
}

#slider {
    margin-left: 13em !important;
}

* {
    scroll-behavior: smooth;
    
}

#scrolltxt {
    position: sticky;
    margin-right: 2%;
    top: 90vh;
    z-index: 10;
    font-size: 3em;
    font-weight: bold;
    opacity: 0.2;
    cursor: pointer;
    float: right;
    clear: both;
    color: black; 
}

#scrolltxt:hover {
   opacity: 0.5;
}

/*Footer.js (Footer)*/
.footerInner {
    padding: 4em 0em;
   }

.footerLogo {
    width: 40em;
    }

.socialButton {
    padding-left: 0.5em;
    
}

.socialButtonImg {
    width: 1em;
}

.align-self-start {
     margin-right: 10em !important;
     margin-left: 5em;
}

.footerMenu {
    list-style-type: none;
    padding-top: 1em;
    margin-left: 2.7em;
    

}

.footerMenuItem {
    font-family: Futura, Helvetica, Arial,Sans-serif;
    font-size: .75rem;
    line-height: 1.5rem;
    text-align: left;
    margin-left: 5.4em;
    }

/*Om vi vill lägga till text i tidsaxeln
.card-text {
    text-align: center;
}
*/

